$color:#242452;
$color-d:#eeeef7;
$bg-color:#ffffff;
$bg-color-d:#212121;
$bg-color2:#ebebef;
$bg-color2-d:#3a3a40;
$pri-color:#41adef;
$shadow:#a0a6b8;
$shadow-d:#16181d;

@font-face {
  font-family: 'Jost';
  src: url(/font/Jost/TrueType/Jost-400-Book.ttf);
}

@font-face {
  font-family: 'NotoSansCJKjp';
  src: url(/font/Noto/NotoSansCJKjp-Regular.otf);
}

@font-face {
  font-family: 'FiraMono';
  src: url(/font/Fira/ttf/FiraMono-Regular.ttf);
}

@font-face {
  font-family: 'MaterialIcons';
  src: url(/font/MaterialDesignIcons/font/MaterialIcons-Regular.ttf);
}

:root {
  --color: #{$color};
  --bg-color: #{$bg-color};
  --bg-color2: #{$bg-color2};
  --pri-color: #{$pri-color};
  --shadow: #{$shadow};

  &.dark {
    --color: #{$color-d};
    --bg-color: #{$bg-color-d};
    --bg-color2: #{$bg-color2-d};
    --shadow: #{$shadow-d};
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--color);
  background-color: var(--bg-color);
  font-family: 'Jost','NotoSansCJKjp';
  font-size: 16px;
}

a {
  text-decoration: underline;
  color: var(--pri-color);
}

h1 {
  text-align: center;
  font-size: 30px
}

h2 {
  width: 100%;
  background-color: var(--bg-color2);
  height: 34px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  line-height: 34px;
  font-size: 16px
}

h3 {
  color: var(--pri-color);
  margin: 15px 0 0 0;
  font-size: 15px;
  line-height: 15px
}

code {
  font-size: 14px;
  line-height: 14px;
  font-family: 'FiraMono';
  background-color: var(--bg-color2);
}

hs- {
  &header {
    display: block;
    width: 100vw;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(var(--bg-color), .02);
    box-shadow: 0 0 20px 0 var(--shadow);
    backdrop-filter: blur(6.5px);
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    color: var(--pri-color);

    +* {
      margin-top: 74px;
    }

    &-button {
      display: block;
      width: 50px;
      height: 50px;
      font-family: 'MaterialIcons';
      font-size: 24px;
      text-align: center;
      line-height: 50px;
      user-select: none;
      cursor: pointer;
    }

    &-title {
      display: block;
      height: 50px;
      font-size: 25px;
      font-weight: 600;
      line-height: 50px;
      filter: drop-shadow(0 0 20px var(--shadow));
      text-align: center;
      white-space: nowrap;
      user-select: none;
    }
  }

  &ctr {
    display: block;
    width: 87%;
    margin-right: auto;
    margin-left: auto
  }
}